.site-nav {
  @include outer-container
}

.site-header {
  @include outer-container;
  text-align: center;
  background: url(../img/samuel.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 0 4em 0;

}

.site-title {
  font-weight: 700;
  margin: 4em 0 0 0;
  color: $yellow;
}

.menu-button {
@include span-columns(4);
text-align: center;


  a, a:visited {
    padding: 0.5em 0;
    font-weight: 700;
    color: $black;
    background: $yellow;
    text-transform: uppercase;
  }

  a:hover {
    background: $dark-green;
  }

}

.site-description {
  color: $light-green;
  margin: 0;
  font-size: 1.777em;
  @include media($tablet) {
    font-size: 1.536em;
  }
  @include media($mobile) {
    font-size: 1.44em;
  }
}

.main-navigation {

  background: $black;
}
