.about-content, .contact-content  {
  margin-top: 2em;
  margin-bottom: 2em;

  @include media($tablet) {
    margin-bottom: 3em;

  }
}

.projects {

  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(8);
    @include shift(0);

  }

  ul {
    margin: 2em 0 0 0;
    padding: 0;
  }

  li {
      list-style: none;
      @include span-columns(4);


      @include media($tablet) {
        @include span-columns(4);
      }

      @include media($mobile) {
        @include span-columns(4);

      }

      .project-tab {
        background: $dark-green;
        margin: 1em;
        padding: 0.3em;
      }

      h4 {
        min-height: 3em;
        background: $dark-green;
        padding: 0;
        margin: 0;
        color: $yellow;
        text-transform: uppercase;



        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.5em;
        @include media($tablet) {
          font-size: 1.414em;
        }
        @include media($mobile) {
          font-size: 1.333em;
        }

      }

  }

  li:hover h4 {

    color: $black;
  }

  li:hover img {
    @include filter(grayscale(0));
  }

  li img {
    margin-bottom: -0.3em;
    width: 100%;
    padding: 0.5em;
    @include filter(grayscale(0.9));

    @include media($tablet) {
      @include filter(grayscale(0));
    }
  }

  .entry-title {
    margin: 0;
  }

}

.project-content {
  background: $dark-green;
  color: $black;
  h4 {
    text-transform: uppercase;
    margin: 0;
  }

  @include span-columns(8);
  @include shift(2);
  padding: 1em;
  display: none;

  @include media($tablet) {
    @include span-columns(8);
    @include shift(0);
    display: none;
  }

  @include media($mobile) {
    @include span-columns(4);
    display: none;
  }
}

.project-website {
  font-size: 1.4em;
}

.project-images {
  @include span-columns(12);
  padding: 1em 1em 1em 0em;

  @include media($tablet) {
    padding: 1em 0 0 0;
    margin: 0;
  }
}

.project-image img {
  @include span-columns(9);
  margin: 0;
  padding: 0 0 0 1em;

  @include media($tablet) {
    @include span-columns(5);
    padding: 0;
    margin: 0 0 0.5em 0;
  }

  @include media($mobile) {
    @include span-columns(6);
  }

  img {
    border: 0.1em solid $black;

  }

  img:hover{

  }
}

.project-image-thumbs {
  @include span-columns(3);
  padding: 0 0 1em 0;

  @include media($tablet) {
    display: none;
  }
}

.project-image-thumb  {

  img {
  @include span-columns(12);
  padding: 0;
  margin: 0 0 0.5em 0;
  @include filter(opacity(0.6));

  @include media($tablet) {
    @include span-columns(12);
  }

  @include media($mobile) {
    @include span-columns(2);
    padding: 0;
    margin: 0;
  }
}



  img:hover {
    @include filter(opacity(1));
  }

}

.project-keywords {
  @include span-columns(3);
  text-transform: uppercase;

  @include media($tablet) {
    display: none;
  }
}

.project-description {
  @include span-columns(9);

  @include media($tablet) {
    @include span-columns(8);
  }

}

.back-button {
  @include span-columns(4);
  @include shift(3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $black;
  text-transform: uppercase;
  min-height: 2em;



  font-size: 1.5em;
  @include media($tablet) {
    @include span-columns(3.5);
    @include shift(0);
    font-size: 1.414em;
  }
  @include media($mobile) {
    font-size: 1.333em;
    @include span-columns(4);
  }

  a, a:visited {
    color: $yellow;
  }
}

.projects-section .entry-title {
  margin: 0;
}
