.projects {
  @include span-columns(12);
}

.projects-project {
  @include span-columns(12);
  margin: 0 0 3em 0;
  padding: 0.5em 0 0.5em 0;
  border-top: 0.1em solid $black;



  @include media($tablet) {
    @include span-columns(8);

    padding: 0.5em 0 0 0;
  }

  @include media($mobile) {
    @include span-columns(4);

  }

  h3 {
    margin: 0;
    padding: 0;
  }

}

.projects-image {
  @include span-columns(6);


  padding: 0.5em 0 0.5em 0;
  margin: 0em 0 0 0;


  @include media($tablet) {
    @include span-columns(5);
    padding: 0.1em 0 0 0;


  }

  @include media($mobile) {
    @include span-columns(2);

  }

  img {
    border: 0.1em solid $black;
  }

  img {
    border: 0.1em solid $black;
    @include filter(grayscale(80%));
  }

  img:hover {
    @include filter(grayscale(10%));
  }
}

.projects-project-keywords {
  font-weight: 300;
  @include span-columns(5);
  padding: 0.5em 0 0 0;
  margin-left: 1em;
  border-bottom: 0.1em solid $black;

  @include media($tablet) {
    @include span-columns(3);
    margin: 0.5em 0 0 0;
    padding: 0.1em 0 0em 0;

  }

  @include media($mobile) {
    @include span-columns(2);
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }
}

.projects-excerpt {
  @include span-columns(5);
  padding: 0.5em 0 0 0;
  margin-left: 1em;
  border-bottom: 0.1em solid $black;

  @include media($tablet) {
    @include span-columns(8);
    padding: 0;
    margin: 0;
  }

  @include media($mobile) {
    display: none;
  }
}

.entry-title {

}

.project-content {
  @include span-columns(9);

  @include media($tablet) {
    @include span-columns(8);
  }

  @include media($mobile) {
    @include span-columns(4);
  }
}

.project-website {
  font-size: 1.4em;
  font-weight: 300;
}

.project-images {
  @include span-columns(12);
  padding: 1em 1em 1em 0em;


  @include media($tablet) {
    padding: 1em 0 0 0;
    margin: 0;
  }
}

.project-image {
  @include span-columns(8);
  margin: 0;
  padding: 0 0.5em 0 0;

  @include media($mobile) {
    @include span-columns(4);
  }
  img {
    border: 0.1em solid $black;
    @include filter(grayscale(80%));
  }

  img:hover{
    @include filter(grayscale(20%));
  }
}

.project-image-thumbs {
  @include span-columns(4);


  @include media($mobile) {
    display: none;
  }

  img {
    border: 0.1em solid $black;
    @include filter(grayscale(80%));
  }

  img:hover {
    @include filter(grayscale(10%));
  }

}

.projects-project-title {



  @include media($tablet) {

    padding-top: 2em;
  }

}

.project-keywords {
  @include span-columns(2);
  @include shift(1);
  border-bottom: 0.1em solid $black;
}
