@import "variables";

@import "bourbon";
@import "grid-settings";
@import "neat";

@import "base";
@import "header";
@import "about";
@import "project";

@font-face {
	font-family: geomanist;
	src: url(../fonts/geomanist-regular-webfont.woff2);
	font-weight: normal;
}

html {font-size: 1.2em;}

body {
  font-family: geomanist;
  font-weight: 400;
  line-height: 1.45;
  color: $black;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 5.063em;
    @include media($tablet) {
      font-size: 3.998em;
    }
    @include media($mobile) {
      font-size: 3.157em;
    }
}

h2 {
  font-size: 3.375em;
  @include media($tablet) {
    font-size: 2.827em;
  }
  @include media($mobile) {
    font-size: 2.369em;
  }
}

h3 {
  font-size: 2.25em	;
  @include media($tablet) {
    font-size: 1.999em;
  }
  @include media($mobile) {
    font-size: 1.777em;
  }
}

h4 {
  font-size: 1.5em;
  @include media($tablet) {
    font-size: 1.414em;
  }
  @include media($mobile) {
    font-size: 1.333em;
  }
}

small, .font_small {font-size: 0.707em;}

a {
  text-decoration: none;
}

a, a:visited {
  color: $black;
}

.site-header, .site-content, .site-info {
  @include outer-container;
}

.site-content {
	background: $light-green;
}

.post-navigation {
  @include span-columns(9);
}

.site-content, .entry-content, p {
  margin-top: 0;
}

.site-main {
	@include span-columns(12);


	@include media($tablet) {
		@include span-columns(8);
		@include shift(0);

	}

	h3 {
		font-weight: 700;
		text-transform: uppercase;
	}
}

.projects-section {
	@include outer-container;

	margin-bottom: 3em;

	@include media($tablet) {
    margin-bottom: 1em;
		margin-top: 0em;
  }
}

.contact-icons {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 4em;
	@include span-columns(6);
	@include shift(3);

	@include media($tablet) {
		@include span-columns(6);
		@include shift(1);
	}

	i {
		@include span-columns(3);
	}
}

*:focus {
    outline: none;
}
